/***********
GENERAL
************/

body {
  margin: 0;
  padding: 0;
  font-family: 'lato' !important;
  background-color: mistyrose;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:focus, a:hover, a:active {
  color: white;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { 	display: block; } body { 	line-height: 1; } ol, ul { 	list-style: none; } blockquote, q { 	quotes: none; } blockquote:before, blockquote:after, q:before, q:after { 	content: ''; 	content: none; } table { 	border-collapse: collapse; 	border-spacing: 0; }

.black {
	color: black;
}

/***********
GENERAL
************/

/*.button {
  padding: 15px;
  border: 1px solid;
  border-radius: 2px;
  display: block;
  text-align: center;
  transition: .6s all ease;
  height: 50px;
}

.button-sm {
  width: 70px;
}

.button-lg {
  width: 170px;
}*/


/***********
NAVBAR - MENU
************/

.submenu ul {
  position: absolute;
  top: 50px;
  right: 24px;
  display: none;
}

.submenu:hover ul {
	color: white;
  display: block;
  -webkit-animation: slideDown .5s ease;
  animation: slideDown .5s ease;
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-100%);opacity: 0;}
  90% {-webkit-transform: translateY(20%);opacity: 0.1;}
  100% {-webkit-transform: translateY(0%);opacity: 1;}
}
@keyframes slideDown {
  0% { transform: translateY(-100%);opacity: 0;}
  90% {transform: translateY(20%);opacity: 0.1;}
  100% {transform: translateY(0%);opacity: 1;}
}

.submenu ul li a {
  text-align: right;
  float: right;
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  margin: 0;
  background: transparent;
  width: 150px;
  transition: all .5s;
  line-height: 20px;
  color: #FE4365;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  line-height: 20px;
}

.submenu ul li a:hover {
  background: #FE4365;
  padding: 10px 40px 10px 0;
  width: 200px;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: white;
}

/***********
HEADER
************/



/*bubbles*/

.bubble-pink {
  fill: #FE4365;
}

.bubble-black {
  fill: black;
}

div#bubble-wrap1 {
  /*position: absolute;
  left: 83%;
  top: 73%;*/
  /*-webkit-transform: translate(-79%, -73%);
  -moz-transform: translate(-79%, -73%);
  -ms-transform: translate(-79%, -73%);
  -o-transform: translate(-79%, -73%);
  transform: translate(-79%, -73%);*/
  /*animation: animateBubble 25s linear, sideWays 7s ease-in-out;*/
}
/*@-webkit-keyframes animateBubble {
    0% {
        margin-top: 60px;
    }
    10% {
        margin-top: -10%;
    }
}*/

/*div#bubble-wrap1 p {
  position: absolute;
  left: 23%;
  top: 42%;
	color: white;
	font-size: 1.7rem;
}*/


/*div#bubble-wrap2 {
  position: absolute;
  left: 20%;
  top: 69%;
  -webkit-transform: translate(-20%, -69%);
  -moz-transform: translate(-20%, -69%);
  -ms-transform: translate(-20%, -69%);
  -o-transform: translate(-20%, -69%);
  transform: translate(-20%, -69%);
  -webkit-animation: animateBubble 8s linear;
}*/

/*div#bubble-wrap2 p {
  position: absolute;
  left: 29%;
  top: 43%;
  color: white;
  font-size: 1.3rem;
}*/

/*div#bubble-wrap3 {
  position: absolute;
  left: 40%;
  top: 93%;
  -webkit-transform: translate(-40%, -93%);
  -moz-transform: translate(-40%, -93%);
  -ms-transform: translate(-40%, -93%);
  -o-transform: translate(-40%, -93%);
  transform: translate(-40%, -93%);
}*/

/*div#bubble-wrap3 p {
  position: absolute;
  left: 34%;
  top: 42%;
  color: white;
  font-size: 1.3rem;
}*/

/*div#bubble-wrap4 {
  position: absolute;
  left: 60%;
  top: 87%;
  -webkit-transform: translate(-60%, -87%);
  -moz-transform: translate(-60%, -87%);
  -ms-transform: translate(-60%, -87%);
  -o-transform: translate(-60%, -87%);
  transform: translate(-60%, -87%);
}

div#bubble-wrap4 p {
  position: absolute;
  left: 36%;
  top: 44%;
  color: white;
  font-size: 1.8rem;
}*/

/*div#bubble-wrap5 {
  position: absolute;
  left: 85%;
  top: 57%;
  -webkit-transform: translate(-85%, -57%);
  -moz-transform: translate(-85%, -57%);
  -ms-transform: translate(-85%, -57%);
  -o-transform: translate(-85%, -57%);
  transform: translate(-85%, -57%);
}*/

/*div#bubble-wrap6 {
  position: absolute;
  left: 40%;
  top: 74%;
  -webkit-transform: translate(-85%, -57%);
  -moz-transform: translate(-85%, -57%);
  -ms-transform: translate(-85%, -57%);
  -o-transform: translate(-85%, -57%);
  transform: translate(-85%, -57%);
}

div#bubble-wrap6 p {
  position: absolute;
  left: 23%;
  top: 40%;
  color: white;
  font-size: 1.2rem;
}*/

/*div#bubble-wrap7 {
  position: absolute;
  left: 35%;
  top: 55%;
  -webkit-transform: translate(-85%, -57%);
  -moz-transform: translate(-85%, -57%);
  -ms-transform: translate(-85%, -57%);
  -o-transform: translate(-85%, -57%);
  transform: translate(-85%, -57%);
}*/

/*div#bubble-wrap8 {
  position: absolute;
  left: 51%;
  top: 94%;
  -webkit-transform: translate(-85%, -57%);
  -moz-transform: translate(-85%, -57%);
  -ms-transform: translate(-85%, -57%);
  -o-transform: translate(-85%, -57%);
  transform: translate(-85%, -57%);
}*/

/*div#bubble-wrap9 {
  position: absolute;
  left: 67%;
  top: 69%;
  -webkit-transform: translate(-67%, -69%);
  -moz-transform: translate(-67%, -69%);
  -ms-transform: translate(-67%, -69%);
  -o-transform: translate(-67%, -69%);
  transform: translate(-67%, -69%);
}

div#bubble-wrap10 {
  position: absolute;
  left: 10%;
  top: 62%;
  -webkit-transform: translate(-85%, -57%);
  -moz-transform: translate(-85%, -57%);
  -ms-transform: translate(-85%, -57%);
  -o-transform: translate(-85%, -57%);
  transform: translate(-85%, -57%);*/
/*}*/

/*div#bubble-wrap11 {
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%, -65%);
  -moz-transform: translate(-50%, -65%);
  -ms-transform: translate(-50%, -65%);
  -o-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
}*/

/*div#bubble-wrap11 p {
  position: absolute;
  left: 22%;
  top: 42%;
  color: white;
  font-size: 1.8rem;
}*/

/*div#bubble-wrap12 {
  position: absolute;
  left: 92%;
  top: 64%;
  -webkit-transform: translate(-92%, -64%);
  -moz-transform: translate(-92%, -64%);
  -ms-transform: translate(-92%, -64%);
  -o-transform: translate(-92%, -64%);
  transform: translate(-92%, -64%);
}*/

/*div#bubble-wrap13 {
  position: absolute;
  left: 75%;
  top: 86%;
  -webkit-transform: translate(-75%, -86%);
  -moz-transform: translate(-75%, -86%);
  -ms-transform: translate(-75%, -86%);
  -o-transform: translate(-75%, -86%);
  transform: translate(-75%, -86%);
}*/

/*div#bubble-wrap14 {
  position: absolute;
  left: 69%;
  top: 53%;
  -webkit-transform: translate(-69%, -53%);
  -moz-transform: translate(-69%, -53%);
  -ms-transform: translate(-69%, -53%);
  -o-transform: translate(-69%, -53%);
  transform: translate(-69%, -53%);
}*/

/*div#bubble-wrap15 {
  position: absolute;
  left: 24%;
  top: 85%;
  -webkit-transform: translate(-24%, -85%);
  -moz-transform: translate(-24%, -85%);
  -ms-transform: translate(-24%, -85%);
  -o-transform: translate(-24%, -85%);
  transform: translate(-24%, -85%);
}

div#bubble-wrap15 p {
  position: absolute;
  left: 27%;
  top: 39%;
  color: white;
  font-size: 1.3rem;
}*/

/*div#bubble-wrap16 {
  position: absolute;
  left: 13%;
  top: 75%;
  -webkit-transform: translate(-13%, -75%);
  -moz-transform: translate(-13%, -75%);
  -ms-transform: translate(-13%, -75%);
  -o-transform: translate(-13%, -75%);
  transform: translate(-13%, -75%);
}*/
/*div#bubble-wrap17 {
  position: absolute;
  left: 20%;
  top: 57%;
  -webkit-transform: translate(-24%, -85%);
  -moz-transform: translate(-24%, -85%);
  -ms-transform: translate(-24%, -85%);
  -o-transform: translate(-24%, -85%);
  transform: translate(-24%, -85%);
}*/

/*div#bubble-wrap18 {
  position: absolute;
  left: 45%;
  top: 78%;
  -webkit-transform: translate(-45%, -78%);
  -moz-transform: translate(-45%, -78%);
  -ms-transform: translate(-45%, -78%);
  -o-transform: translate(-45%, -78%);
  transform: translate(-45%, -78%);
}*/

/*div#bubble-wrap19 {
  position: absolute;
  left: 14%;
  top: 55%;
  -webkit-transform: translate(-14%, -55%);
  -moz-transform: translate(-14%, -55%);
  -ms-transform: translate(-14%, -55%);
  -o-transform: translate(-14%, -55%);
  transform: translate(-14%, -55%);
}*/
