/***********
GENERAL
************/

body {
  margin: 0;
  padding: 0;
  font-family: 'lato' !important;
  background-color: mistyrose;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:focus, a:hover, a:active {
  color: white;
  text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0; 	padding: 0; 	border: 0; 	font-size: 100%; 	font: inherit; 	vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { 	display: block; } body { 	line-height: 1; } ol, ul { 	list-style: none; } blockquote, q { 	quotes: none; } blockquote:before, blockquote:after, q:before, q:after { 	content: ''; 	content: none; } table { 	border-collapse: collapse; 	border-spacing: 0; }

.clear {
  clear: both;
}
/***********
GENERAL
************/

/*.button {
  padding: 15px;
  border: 1px solid;
  border-radius: 2px;
  display: block;
  text-align: center;
  transition: .6s all ease;
  height: 50px;
}

.button-sm {
  width: 70px;
}

.button-lg {
  width: 170px;
}*/


/***********
NAVBAR - MENU
************/

.sublink {
  text-align: right;
  float: right;
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  margin: 0;
  background: transparent;
  width: 150px;
  transition: all .5s;
  line-height: 20px;
  color: #FE4365;
  line-height: 20px;
  z-index: 10;
}
.sublink:hover {
     background: black;
     padding: 10px 40px 10px 0;
     width: 200px;
     transition: all .5s;
     color: white;
   }


.submenu ul {
  position: absolute;
  top: 50px;
  right: 24px;
  display: none;
}

.submenu:hover ul {
	color: white;
  display: block;
  -webkit-animation: slideDown .5s ease;
  animation: slideDown .5s ease;
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-100%);opacity: 0;}
  90% {-webkit-transform: translateY(20%);opacity: 0.1;}
  100% {-webkit-transform: translateY(0%);opacity: 1;}
}
@keyframes slideDown {
  0% { transform: translateY(-100%);opacity: 0;}
  90% {transform: translateY(20%);opacity: 0.1;}
  100% {transform: translateY(0%);opacity: 1;}
}

/***********
HEADER
************/

.bubbleJump {
  animation: jump 25s linear;
}

@keyframes jump {
  0% { margin-top: 40px;}
  10% { margin-top: -5%;}
}

/***********
PORTFOLIO
************/
.container {
  transform: translateY(-300px);
  position: relative;
}

.wrapper-title {
  position: relative;
  display: inline;
}

svg#Calque_1 {
  margin: 0px 470px 0px;
  font-weight: bolder;
  position: absolute;
  top: -709px;
  left: 145px;
}
